body{
    background-color: #C4C4C4;
}

header{
    height: 40px;
    width: auto;
    background-color: #fff;

}

main{
    height: auto;
}

footer{
    width: auto;
    height: 40px;
    background-color: #fff;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fff;
    padding :5px;
    width: fit-content;
    height: fit-content;
    margin: 50px;
}

.card__title{
    margin: 0;
    color: #282828;
    font-size: 14px;
    padding-bottom: 3px;
}

.card__description{
    margin: 0;
    color: #282828;
    font-size: 12px;
}

.card__img-top{
    margin: 0;
    width: 288px;
    height: 182px;
    margin-bottom: 5px;
}

